.App {
  text-align: center;
  position: relative;
}


.content{
  z-index: 10;
  background-color: purple;
}

.particle {
  position: relative;
  width: 100%;
  height: screen;
  z-index: 0;
}

video{
  display: block;
  border-radius: 50%;
  z-index: 10;
}

